@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDay[0].MatchDayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDay[0].NumberOfPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDay[0].List)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MatchDay) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.List.ListId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MatchDayId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MatchDayId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MatchDayId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
